<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fourthBeam.mapper.EmployeesMapper">
    <select id="getAll" resultType="com.fourthBeam.api.BO.Employees">
        SELECT * FROM employees
    </select>
</mapper>